@import "base/base";
@import "utils/variables";
@import "layouts/header";
@import "layouts/footer";
@import "utils/animations";
@import "composants/animations";

main .city {
    width: 100%;
    padding: 8px;
    background-color: #e4e4e4;
    box-shadow: 0px -4px 4px #d8d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* Partie Location */

.city h2 {
    font-size: 16px;
}

.location {
    background-color: #F6F6F6;

}

.explorer {
    text-align: center;
    padding: 44.8px 16px;
}

.explorer h2 {
    margin-top: 32px;
    font-size: 24px;
}

.explorer p {
    font-size: 16px;
}

.explorer button {
    background: radial-gradient(ellipse farthest-corner at top left, #FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 3.2px 9.6px 8px 0 rgb(240, 236, 236);
    transition: transform 200ms;
}

.explorer button:hover {
    opacity: 0.8;
    box-shadow: 3.2px 9.6px 8px 0 rgb(216, 212, 212);
}

/* Partie Fonctionnement */

.operation__title {
    padding-left: 32px;
}

.operation__bloc {
    flex-direction: column;

    @media only screen and (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 60px;
        flex-direction: row;

    }
}

.operation__bloc__line {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 3.2px 9.6px 8px 0 rgb(234, 232, 232);
    padding: 0 16px;
    margin: 32px;
    cursor: pointer;
}

.operation__bloc__line:hover {
    background-color: #f9ecff;
    opacity: 0.9;
}

.operation__bloc__line:hover .operation__bloc__line__icon {
    color: $primary;
}

.operation__bloc__line__number {
    background-color: $primary;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: -24px;
    color: white;
    font-size: 12.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation__bloc__line__text {
    font-size: 12.8px;
    font-weight: bold;
}

.operation__bloc__line__icon {
    padding: 24px 20.8px 24px 40px;
    color: gray;
}

/* Partie Restaurant */

.restaurant {
    padding: 32px;
    background-color: #F6F6F6;

    .card {
        box-shadow: 1px 1px 10px #afaeae;
        border-radius: 16px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.menu__cards {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    @media only screen and (min-width: 792px) {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(2, 1fr);
        min-width: 480px;
    }
}

.restautant__title {
    padding-bottom: 16px;
}

.restaurant__card__img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.restaurant__card__new {
    background-color: $tertiary;
    border-radius: 2px;
    color: #2c9c81;
    font-weight: bold;
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 6.4px 12.8px;
}

.card__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20.8px;

    .card__description__text__title {
        margin: 16px 0 0 0;
        font-size: 16px;
    }

    .card__description__text__location {
        margin: 0 0 16px 0;
    }
}

.restaurant.restaurant a {
    text-decoration: none;
    color: black;
}

/* Icône coeur */

.like_btn {
    position: relative;
    width: 5%;
    bottom: 15%;

    .fa-regular {
        font-size: 24px;
        position: absolute;
    }
}

.like_btn .fa-regular:hover {
    color: transparent;
}

.like_btn .fa-solid {
    opacity: 0;
    font-size: x-large;
    position: absolute;
    transition-delay: 1s;
    transition-property: fill;
}

.like_btn:hover .fa-solid {
    opacity: 1;
    background: linear-gradient(to bottom, #9356DC, #FF79DA, #9356DC);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: all 700ms;
    transform: scale(1);
}

/* Menu Restaurants */

.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headermenu__arrow {
    margin-left: -48px;
    margin-right: 48px;
    color: black;
}

.header_title {
    text-align: center;
    font-family: "Shrikhand", cursive;
}

.menuImg__img {
    width: 100%;
    max-height: 400px;
}

img {
    object-fit: cover;
}

.menu {
    background-color: #F6F6F6;
    border-radius: 35px 35px 0 0;
    padding: 8px;
    position: relative;
    margin-top: -48px;
}

.menu .menu__header__title {
    font-family: "Shrikhand", cursive;
    margin-bottom: 0;
}

.menu .menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.menu__bloc__part__choice__desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.menu__bloc {
    display: block;

    @media (min-width: 792px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.menu__bloc__part {
    padding-top: 24px;

    @media (min-width: 792px) {
        width: 45%;
    }

    @media (min-width: 992px) {
        width: 30%;
    }
}

.menu__bloc__part__title::before {
    position: absolute;
    content: "";
    background-color: #99e2d0;
    left: 0;
    bottom: -6.4px;
    width: 40px;
    height: 2.4px;
}

.menu__bloc__part__title {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    position: relative;
}

.menu__bloc__part__choice__title {
    font-size: 16px;
}

.menu__bloc__part__choice {
    background-color: white;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-size: 12.8px;
    padding: 8px;
    margin: 8px 0 8px 0;
    cursor: pointer;
    position: relative;
    animation: menuAppear 1s both;
}

.menu__bloc__part__choice,
.menu__content {
    overflow: hidden;
    white-space: nowrap;
}

.menu__bloc__part__choice__title,
.menu__bloc__part__choice__desc__food {
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__bloc__part__choice::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background-color: $tertiary;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: width 0.3s ease-in-out;
}

.menu__bloc__part__choice:hover::after {
    width: 48px;
}

.menu__bloc__part__choice__desc__price {
    font-weight: bold;
}

.menu__bloc__part__choice__check {
    display: none;
}

.menu__bloc__part__choice h4,
.menu__bloc__part__choice p {
    margin: 0;
}


.menu__bloc__part__choice:hover .menu__bloc__part__choice__check {
    display: flex;
    justify-content: flex-end;
    margin: -28.8px 6.4px 6.4px 0;
}

.menu__bloc__part__choice:hover .menu__bloc__part__choice__check__faCheck {
    animation: checkRotation 0.5s;
}

.menu__bloc__part__choice:hover .menu__bloc__part__choice__desc__price {
    margin: 0 48px 0 8px;
}

.menu__bloc__part__choice__check__faCheck {
    background-color: white;
    border-radius: 50%;
    color: $tertiary;
    padding: 4.8px;
    z-index: 2;
}

.menu__command {
    display: flex;
    justify-content: center;
    margin: 48px;
}

.menu__command__button {
    width: 176px;
}

.btn {
    background: radial-gradient(ellipse farthest-corner at top left, #FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 3.2px 9.6px 8px 0 rgba(89, 87, 87, 0.1);
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 3.2px 9.6px 8px 0 rgba(62, 61, 61, 0.1);
}

/* Loader */

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #F6F6F6;
    animation: loader .02s;
    animation-delay: 2s;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        height: 16px;
        width: 16px;
        border-radius: 16px;
        animation: jump 1s;
        animation-iteration-count: 3;

        &Container {
            display: flex;
            width: 80px;
            justify-content: space-between;
        }

        &--1 {
            background-color: $primary;
        }

        &--2 {
            background-color: $secondary;
            animation-delay: 0.25s;
        }

        &--3 {
            background-color: $tertiary;
            animation-delay: 0.5s;
        }
    }
}