@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    font-family: 'Roboto', cursive;
}

.fa, .fas {
    font-weight: 900;
}

.fa-heart {
    font-size: 1.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}