/* Menu */

@keyframes menuAppear {
    0% {
        transform: translateY(-200px);
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Check */

@keyframes checkRotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* loader */

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -10;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(8px);
    }

    75% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}